.social {
	display: inline-block;
	height: 200px;
	width: 200px;
	background-image: url("/img/shared/social-icons.jpg");
	background-repeat: no-repeat;

	&.twitter {
		background-position: -200px 0;
	}
}
